body{
    background-color: #efefef;
}
.main{
    margin:30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.touxiang {
    margin-top:10px;
    width:30px;
}

.biaotx{
    width:40px;
}

.biaotext{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile-list{
    margin-top:20px;
}

.question-edit{
    color: #999;
    text-decoration: none;
}

.question-media-body{
    padding-top: 5px;
}

.question-img{
    width:30px;
}

.question-media{
    margin-bottom: 5px;
}
.question-btn{
    margin: 5px 5px;
    float: right;
}

.error-text{
    margin:50px;
}

.question-span{
    margin-left:15px;
}

.question-hr{
    margin-top:0;
}

.question-span2{
    font-size: 11px;
    color: darkgrey;
}

.question-span3{
    font-size: 14px;
    color: darkgrey;
    margin-right:5px;
    margin-top:5px;
    cursor: pointer;
}

.question-span3:hover{
    color: #499ef3;
}

.question-span3.active{
    color:#499ef3;
}

.question-hr1{
    background-color: #eeeeee;
}

.question-title{
    margin-top:20px;
}

.question-div{
    margin-top:10px;
    border:1px solid #eee;
    padding-top: 15px;
    border-radius: 5px;
}

.question_like_count{
    margin-left:-5px;
}